<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photo.mapper.OrderMapper">
    <resultMap id="Order" type="com.photo.model.Order">
        <id column="id" property="id"></id>
        <result column="full_name" property="fullName"></result>
        <result column="phone_number" property="phoneNumber"></result>
        <result column="shipping_address" property="shippingAddress"></result>
        <result column="card_number" property="cardNumber"></result>
        <result column="name_on_card" property="nameOnCard"></result>
        <result column="exp_date" property="expDate"></result>
        <result column="cvv" property="cvv"></result>
        <result column="total" property="total"></result>
        <result column="order_placed" property="orderPlace"></result>
        <result column="status" property="status"></result>
        <result column="user_id" property="userId"></result>
        <result column="created_at" property="createdAt"></result>
        <result column="updated_at" property="updatedAt"></result>
    </resultMap>

    <sql id="orderList">
        select id,
               full_name,
               phone_number,
               shipping_address,
               card_number,
               name_on_card,
               exp_date,
               cvv,
               total,
               order_placed,
               status,
               user_id,
               created_at,
               updated_at
        from orders
    </sql>

    <insert id="createOrder" keyProperty="id" useGeneratedKeys="true">
        insert into orders(full_name, phone_number, shipping_address, card_number, name_on_card, exp_date, cvv, total,
        order_placed, status, user_id, created_at, updated_at)
        values (#{fullName}, #{phoneNumber}, #{shippingAddress}, #{cardNumber}, #{nameOnCard}, #{expDate}, #{cvv},
        #{total}, #{orderPlace}, #{status}, #{userId}, #{createdAt}, #{updatedAt})
    </insert>
    <!--    返回Order-->
    <update id="updateOrderCancel">
        update orders
        set status = 'Cancel'
        where id = #{id}
    </update>
    <update id="updateOrderComplete">
        update orders
        set status = 'Complete'
        where id = #{id}
    </update>
    <update id="createTotal">
        update orders set total = #{total} where id = #{id}
    </update>

    <select id="orderList" resultType="com.photo.model.Order">
        <include refid="orderList"/>
    </select>

    <select id="orderById" resultType="com.photo.model.Order">
        <include refid="orderList"/>
        where id = #{id}
    </select>

    <select id="orderByUserId" resultType="com.photo.model.Order">
        <include refid="orderList"/>
        where user_id = #{clientId}
    </select>

    <select id="orderListL" resultType="com.photo.model.Order">
        <include refid="orderList"/>
        where user_id = #{clientId}
    </select>
</mapper>